.App {
  text-align: center;
  border: magenta solid 3px;
  padding: 30px;
  background: DarkCyan;
  margin: 50px;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
  /* border: magenta dotted 3px; */
}

.header {
  border: solid turquoise 2px;
  background: magenta;
  color: PaleTurquoise;
}